# Git
.git
.gitignore

# Python
__pycache__
*.py[cod]
*$py.class
*.so
.Python
env/
venv/
ENV/
*.egg-info/
.eggs/

# Django
*.log
db.sqlite3
db.sqlite3-journal
/staticfiles/
/media/

# IDE
.vscode/
.idea/
*.swp
*.swo
*~

# OS
.DS_Store
Thumbs.db

# Testing
.coverage
htmlcov/
.pytest_cache/

# Documentation
*.md
early_pass_assigment.txt
test_users_credentials.txt

# Docker
Dockerfile
docker-compose.yml
.dockerignore
